.page {
    -fx-spacing: 45;
    -fx-padding: 15;
}

.upper-page {
    -fx-spacing: 30;
}

.header {
    -fx-spacing: 8;
}

.title {
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
}

.welcome-text {
    -fx-text-fill: #343434;
    -fx-font-size: 15pt;
}

.body {
    -fx-spacing: 140;
}

.surround-box {
    -fx-background-color: #343434;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-max-width: 300;
    -fx-max-height: 150;
}

.money-box {
    -fx-min-width: 340;
    -fx-pref-height: 150;
    -fx-padding: 10;
    -fx-spacing: 8;
}

.label {
    -fx-font-size: 18;
    -fx-font-weight: 700;
    -fx-text-fill: #ffffff;
}

.stock-market-box {
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-min-width: 340;
}

.money-text {
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-fill: rgba(4, 180, 4, 0.94);
}

.news-box {
    -fx-min-width: 830;
    -fx-max-width: 830;
    -fx-min-height: 75;
    -fx-spacing: 8;
    -fx-padding: 5;
}

.stock-list {
    -fx-border-radius: 5;
}