.page {
    -fx-spacing: 10px;
    -fx-padding: 15px;
}

.header {
    -fx-spacing: 8px;
}

.title {
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
}

.welcome-text {
    -fx-text-fill: #343434;
    -fx-font-size: 15pt;
}

.surround-box {
    -fx-background-color: #343434;
    -fx-background-radius: 5px;
    -fx-padding: 5;
}

.money-box {
    -fx-pref-width: 300px;
    -fx-pref-height: 150px;
    -fx-padding: 10px;
    -fx-spacing: 8px;
}

.money-label {
    -fx-font-size: 17.5pt;
    -fx-font-weight: 700;
    -fx-text-fill: #eaeaea;
}

.money-text {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    /* -fx-text-fill: green; // TODO: change text color -> green */
}
