.page {
    -fx-spacing: 45px;
    -fx-padding: 15px;
}

.upper-page {
    -fx-spacing: 30px;
}

.header {
    -fx-spacing: 8px;
}

.title {
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
}

.welcome-text {
    -fx-text-fill: #343434;
    -fx-font-size: 15pt;
}

.body {
    -fx-spacing: 110px;
}

.surround-box {
    -fx-background-color: #343434;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-max-width: 300px;
    -fx-max-height: 150px;
}

.money-box {
    -fx-pref-width: 300px;
    -fx-pref-height: 150px;
    -fx-padding: 10px;
    -fx-spacing: 8px;
}

.label {
    -fx-font-size: 18;
    -fx-font-weight: 700;
    -fx-text-fill: #ffffff;
}

.stock-market-box {
    -fx-padding: 10px;
    -fx-spacing: 8px;
    -fx-pref-width: 300px;
}

.money-text {
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-fill: rgba(4, 180, 4, 0.94);
}