.page {
    -fx-padding: 12;
    -fx-spacing: 10;
}

.body {
    -fx-spacing: 10;
}

.password-field {
    -fx-min-width: 200;
    -fx-max-width: 200;
}

.password-label {
    -fx-font-size: 12;
}

.save-button {
    -fx-min-width: 75;
    -fx-pref-width: 75;
    -fx-max-width: 75;
}

.password-box {
    -fx-spacing: 7;
}

.heading-box {
    -fx-spacing: 20;
}

.profile-box {
    -fx-spacing: 5;
}

.profile-image {
    -fx-padding: 10;
}

.image-edit-box {
    -fx-spacing: 5;
}

.image-element-box {

}

.image-box {
    -fx-padding: 5 5 5 0;
}


.button-box {
    -fx-spacing: 5;
}