.page {
    -fx-padding: 12px;
}

.body {
    -fx-spacing: 10px;
}

.password-field {
    -fx-min-width: 200px;
}

.password-label {
    -fx-font-size: 12px;
}

.save-button {
    -fx-min-width: 75px;
    -fx-pref-width: 75px;
    -fx-max-width: 75px;
}

.password-box {
    -fx-spacing: 7px;
}

.heading-box {
    -fx-spacing: 7px;
}

.profile-box {
    -fx-spacing: 5px;
}

.profile-image {
    -fx-padding: 10px;
}

.image-edit-box {
    -fx-spacing: 5px;
}

.image-element-box {

}

.image-box {
    -fx-padding: 5 5 5 0;
}