.page {
    -fx-background-color: #343434
}

.body {
    -fx-padding: 16;
    -fx-spacing: 228;
}

.image-box {
    -fx-spacing: 18;
    -fx-padding: 3;
}

.image-box:hover {
    -fx-cursor: hand;
}

.selected-pane {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 3;
    -fx-border-color: white;
}