.page {
    -fx-spacing: 45px;
    -fx-padding: 15px;
}

.header {
    -fx-spacing: 8px;
}

.title {
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
}

.body-title {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-text-fill: #faf9f9;
    -fx-padding: 5px;
}

.body {
    -fx-spacing: 20px;
}

.surround-box {
    -fx-background-color: #343434;
    -fx-background-radius: 5px;
    -fx-max-height: 250px;
    -fx-padding: 5px;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.stock-market-text {
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.share-search-box {
    -fx-min-width: 500px;
    -fx-min-height: 200px;
}

.input-field {
    -fx-pref-width: 500px;
}

.share-search-box-heading {
    -fx-pref-height: 30px;
}

.icon-box {
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}

.filter-list {
    /*
    min height
    min width
    */
}

.search-box {
    -fx-spacing: 20px;
}

.news-box {
    -fx-min-width: 780px;
    -fx-max-width: 780px;
    -fx-min-height: 75px;
    -fx-spacing: 8px;
    -fx-padding: 5px;
}

