.page {
    -fx-spacing: 45;
    -fx-padding: 15;
}

.header {
    -fx-spacing: 8;
}

.title {
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
}

.body-title {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-text-fill: #faf9f9;
    -fx-padding: 5;
}

.body {
    -fx-spacing: 20;
}

.surround-box {
    -fx-background-color: #343434;
    -fx-background-radius: 5;
    -fx-max-height: 250;
    -fx-padding: 5;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.stock-market-text {
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.share-search-box {
    -fx-min-width: 500;
    -fx-min-height: 200;
}

.input-field {
    -fx-pref-width: 500;
}

.share-search-box-heading {
    -fx-pref-height: 30;
}

.icon-box {
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

.filter-list {
    /*
    min height
    min width
    */
}

.search-box {
    -fx-spacing: 20;
}

.news-box {
    -fx-min-width: 780;
    -fx-max-width: 780;
    -fx-min-height: 75;
    -fx-spacing: 8;
    -fx-padding: 5;
}

